<div class="sidebar">

  <div class="sidebar-header">
    <i class="fas fa-store text-primary"></i>
    <span>FashionShop</span>
  </div>

  <hr>

  <div *ngFor="let group of menus">

    <small class="group-title">{{ group.group }}</small>

    <ul>

      <li *ngFor="let item of group.items">

        <a (click)="setActiveMenu(item.key)"
           [class.active]="activeMenu === item.key">

          <i class="fas fa-{{item.icon}}"></i>
          <span>{{ item.label }}</span>

        </a>

      </li>

    </ul>

  </div>

  <div *ngIf="isSuperAdmin">

    <small class="group-title">ADMIN</small>

    <ul>

      <li *ngFor="let item of superAdminMenu[0].items">

        <a (click)="setActiveMenu(item.key)"
           [class.active]="activeMenu === item.key">

          <i class="fas fa-{{item.icon}}"></i>
          <span>{{ item.label }}</span>

        </a>

      </li>

    </ul>

  </div>

  <hr>

  <ul>

    <li>
      <a routerLink="/accueil">
        <i class="fas fa-globe"></i>
        <span>Voir le site</span>
      </a>
    </li>

    <li>
      <a>
        <i class="fas fa-cog"></i>
        <span>Paramètres</span>
      </a>
    </li>

    <li>
      <a class="text-danger" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Déconnexion</span>
      </a>
    </li>

  </ul>

</div>