<div class="sidebar">

  <div class="sidebar-header">
    <i class="fas fa-store text-primary"></i>
    <span>FashionShop</span>
  </div>

  <hr>

  
  <!-- Menu principal (visible par tous les admins) -->
<div *ngFor="let group of menus">
  <small class="group-title">{{ group.group }}</small>
  <ul>
    <li *ngFor="let item of group.items">
      <a [routerLink]="'/admin/' + item.key"
         routerLinkActive="active"
         (click)="setActiveMenu(item.key)">
        <i class="fas fa-{{item.icon}}"></i>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>
</div>

<!-- Menu réservé au SUPER_ADMIN -->
<div *ngIf="isSuperAdmin">
  <small class="group-title">Super Admin</small>
  <ul>
    <li *ngFor="let item of superAdminMenu[0].items">
      <a [routerLink]="'/admin/' + item.key"
         routerLinkActive="active"
         (click)="setActiveMenu(item.key)">
        <i class="fas fa-{{item.icon}}"></i>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>
</div>

  <hr>

  <ul>
   
 <li>
      <a routerLink="/accueil" style="cursor: pointer;">
        <i class="fas fa-globe"></i>
        <span>voir le site</span>
      </a>
    </li>
  
   <li>
      <a (click)="logout()" style="cursor: pointer;">
        <i class="fas fa-sign-out-alt"></i>
        <span>Déconnexion</span>
      </a>
    </li>
  </ul>

</div>